@CHARSET "UTF-8";

body {
  padding-top: 90px;
  background-color: #F5F5D5;
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei,
    Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    /* background-image:url(../img/bg.jpg) */
}

.mygap {
  margin-bottom: 10px;
}

.navSpan {
  margin-right: 24px;
  font-size: 21px;
  color: #777;
}

.navSpan:hover {
  color: #4183c4;
  cursor: pointer;
}

#create::befor {
  border-bottom: 2px solid blue;
}

.mybtn {
  color: #777;
  margin-right: 15px
}

.mybtn:hover {
  color: #4183c4;
  cursor: pointer;
}

.mydivider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.myhide {
  display: none
}

#editorToolbar {
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

#editorToolbar>span {
  padding-right: 5px;
}

#editorToolbar>span:hover {
  cursor: pointer;
  color: gray;
}

#blogTitle {
 /*  border: 1px solid #F5F5D5; */
  background-color:white;
}

#blogContent {
   background-color:white;
}

#blogTitle:focus {
  background-color: white;
}

#blogContent:focus {
  background-color: white;
}

#asideBtns>span {
  font-size: 18px;
  margin-right: 13px;
}

#asideBtns>span:hover {
  color: red;
  border-bottom: 2px solid red;
  cursor: pointer;
}

#asideBtns>span.sel {
  color: red;
  border-bottom: 2px solid red;
  cursor: pointer;
}

#asidContent {
  margin-top: 12px;
  margin-left: 12px;
}

#contentNavArea .list-group-item {
  border: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#contentNavArea .list-group-item:hover { //
  border-left: 1px solid blue;
}

#contentNavArea .list-group-item a {
  text-decoration: none;
  cursor: pointer;
}

#contentNoteArea {
  margin-top: 18px;
}

#contentRefArea {
  margin-top: 18px;
}

.notes:before {
  content: "\270D\ ";
}

span.vline {
  border-left: 1px solid #bbb;
  padding-right: 10px;
}

.icon-minus:before {
  content: "\f068";
}

.icon-code:before {
  content: "\f121";
}

.icon-link:before {
  content: "\f0c1";
}

.icon-picture:before {
  content: "\e060";
}